 * {
  box-sizing: border-box;

}
header{
  background-color: rgb(159, 196, 235);
   background-image: linear-gradient(teal, rgb(228, 132, 132));
  }
  
   /* html * { this allows me to see the box borders which help me target specific boxes.
    border: solid black 1px;
  }   */
  
  Body{
    background-color: rgb(228, 132, 132);
    background-image: linear-gradient(rgb(228, 132, 132), teal);

  }
  nav {
    width: 960px;
    margin:.5rem auto;
    display:flex;
  
  }
  nav img {
    margin-top: 20px;
    margin-bottom: 20px;

  }
  
  ul {
  display: flex; 
  margin: 50px;
  justify-content: space-between;
  width:100%;
  
  }
  a {
    color: white;
    text-decoration: none;
  }
  
  
  main{
    width: 960px;
    margin: 30px auto 0 auto;
    /*this means top right bottom left */
    display:flex;
    /* flex-direction: row; */
    flex-wrap: wrap;  
    justify-content: space-between;
    align-items: flex-start;
  }


   #stores{
    width: 800px;
    
   } 
 

  article{
    width: 450px;
    height: 400px;
  }
  
  article section{
    height: 365px; 
    overflow: auto;
    
  }
  article a{
     border: 1px solid black; 
    text-decoration: none;
    padding: 2px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: black;
    color: white;
  }
  a:hover{
    color: pink;
  }
  
  footer{
    display: flex;
    justify-content: space-around;
    background-color: rgb(240, 238, 238);
    height: 110px;
  }
  