* {
  box-sizing: border-box;
}

body {
  background-color: rgb(8, 128, 130);
  /* background-attachment: fixed; */
  padding: 10px;
  margin: 40px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 20;
}
